*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Plain Light";
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #202020;
}
#cursor{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border:2px solid #ffffffa9;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#main{
    position: relative;
    background-color: #151515;
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #151515;
    z-index: 999;
    padding: 12vw 5vw ;
}
#firstline{
    display: flex;
    /* background: rgb(72, 110, 122); */
    gap: 6vw;
}
#counter{
    display: flex;
    gap: 1vw;
}
#counter h4, #counter h5{
    font-size: 2.5vw;
    font-family: "Silk Serif";
    margin-top: 1vw;
    font-weight: 300;
}
#counter h4{
    text-align: right;
    width: 5vw;
}
.line{
    /* background-color: crimson; */
    height: fit-content;
    overflow: hidden;
    
}
.line h1{
    text-transform: uppercase;
    font-size: 6.5vw;
    font-weight: 500;
    font-family: "Plain Light";
}
#lastLine{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
#lastLine h2{
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 500;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
 @keyframes anime {
    0%{
        font-family: "Plain Light";
    }
    100%{
        font-family: "Silk Serif";
        color: transparent;
        -webkit-text-stroke: 2px #fff;
        
       
    }
 }


#page1{
    height: 100vh;
    width: 100%;
    
}
#main_nav{
    padding: 4vw 6vw;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
#left .brand__svg{
    width: 8vw;
    height: 2vw;
    
}
#right{
    display: flex;
    gap: 4vw;
}
#right h4{
    font-size: 1vw;
    font-weight: 400;
}
.hero h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 550;
    margin-left: 25%;              
    line-height: 8vw;
    position: relative;
}
#hero-firsth1 h1::before{
    content: "01";
    font-family: "silk serif";
    position: absolute;
    left: -13%;
    font-size: 3vw;
    font-weight: 500;
    top: -15%;
}
.hero h2{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 550;
    /* background-color: red; */
    text-decoration: underline;
}
.hero:nth-child(2){
    margin-top: 7vh;
}
#web_graphic{
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
}

#web_graphic h1:hover{
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
#web_graphic h2:hover{
    color: transparent;
    -webkit-text-stroke: 2px #fff; 
    text-decoration: none;
}

#page2{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(107, 110, 109); */
    
}
#video_container{
    width: 70%;
    height: 70vh;
    margin-left: 30%;
    margin-top: 10%;
    position: relative;
}
#video_container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
}
#v_cursor{
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    background-color:#FFA63D;
    position: absolute;
    z-index:999;
    top: -15%;
    left: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#v_cursor i {
    font-size: 2vw;
}
#video_container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(236, 236, 187); */
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(90, 90, 89); */
    position: relative;
}
#page4-content{
    width: 75vw;
    margin-left: 25%;   
}
#underline{
    height: 3px;
    width: 90%;
    background-color: #bebebeab;
    margin: 4vw 0;
}
#page4-content h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}
#page4-content h1::before{
    content: "03";
    font-family: "silk serif";
    position: absolute;
    left: -12%;
    font-size: 3vw;
    font-weight: 500;
    top: 10%;
}
#page4-content p{
    font-size: 2.4vw;
    width:40%;
}
#page4-flex{
    display: flex;
    width: 80%;
    /* background-color: antiquewhite; */
    gap: 2vw;
    margin-top: 4vw;
}
#page4-flex img{
   width: 60%;
   height: 85vh;
   object-fit: cover;
   z-index: 1;
   
}
#page4-flex p{
    width: 30%;
    height: fit-content;
    font-size: 1vw;
 }
 #page4-table{
    width: 35vw;
    height: fit-content;
    background-color:#3F7DF4;
    position: relative;
    margin-left: 32%;
    margin-top: -18%;
    z-index: 1000;
    padding: 4vw 4vw;
    margin-bottom: 20vh;
 }
.table-content{
    height: 6.5vw;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fff;
    justify-content: flex-start;
}

#page4-table .table-content h3 {
    font-size: 1.8vw;
    font-weight: 500;
    width: 60%;
}
#page4-table .table-content h4 {
    font-size: 1vw;
    font-weight: 500;
}
#clients{
    width: fit-content;
    margin-top: -3vw;
    margin-bottom: 15vh;
}
#clients h4{
    font-size: 1vw;
    color: #FFFFFF;
    position: relative;
}
#page5{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    position: relative;
}
.elem{
    white-space: nowrap;
    overflow-x: auto;
    overflow-x: hidden;
    margin-top: -8vh;
}
#page5 .elem h1{
    font-size: 8vw;
    text-transform: uppercase;
   -webkit-text-stroke: 3px #D0D0D0;
   color: transparent;
   font-weight: 595;
   display: inline-block;
   animation-name: anime1;
   animation-duration:15s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
#elem1 h1{
    animation-name: anime2;
    animation-duration: 15s;
   animation-iteration-count: infinite;
   animation-direction: reverse;
   font-family: "Silk Serif";
   animation-timing-function: linear;
}

@keyframes anime1 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes anime2 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.elem span{
    font-family: "Silk Serif";
    color: transparent;
}
#elem1 span{
    font-family: "Plain Light";
    color: transparent;
}

#page6{
    width: 75vw;
    margin-left: 25%;   
    height: 100vh;
    position: relative;
}
#page6 h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 600;
    /* background-color: #FFA63D; */
    height: 20vh;
    transition: all ease-in;
    /* transition-duration: 2s; */
    position: relative;
}
#page6 h1::before{
    content: "04";
    font-family: "silk serif";
    position: absolute;
    left: -12%;
    font-size: 3vw;
    font-weight: 500;
    top: 10%;
}
#page6 h1:hover{
    font-family: "Silk Serif";
   -webkit-text-stroke: 2px #fff;
   color: transparent;
   font-weight: 200;
}
#footer-div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 12vw;
}
.box h5{
    font-size: 1vw;
    margin-bottom: 4vh;
    font-weight: 600;
}
.box h4{
    font-size: 1.5vw;
    font-weight: 500;
}
#copywrite{
    font-size: 1.2vw;
    font-weight: 500;
}